* {
  margin: 0;
  padding:0;
}

@font-face {
  src: url(//assets.contentful.com/a7w606b3ho4t/43mBXrVckgYMukWc6CW0iy/300281cdd282277cea67f8be0fe1b678/Filosofia_Regular.otf);
  font-family: "Filosofia";
}

@font-face {
  src: url(//assets.contentful.com/a7w606b3ho4t/3uuI8PJNsASAMG2Ccwumuq/491cfdbbe5f00b51b2177ccc503cfe84/LibreBodoni-Regular.ttf);
  font-family: "LibreBodoni";
}

a {
  color:inherit;
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
    margin-top: 100px;
}
.App-header header{
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100vw;
  z-index: 0;

}

.App-header header h1 {
  position: absolute;
  top: 90px;
  left: 90px;
  font-size: 4.5rem;
  font-weight: 100;
  max-width: 100px;
  text-align: left;
}

.App-header img {
  width: 100%;
  max-width: 260px;
  margin: 30px auto;
  max-width: 260px;
margin: 30px auto;
max-height: 200px;
width: auto;
}

.articleIndex, .App-intro > article {

  top: 0;
  position: sticky;
}

.no-stick {
  position: relative;
}

.stick-bottom {
  top: initial;
  position: sticky;
  bottom: 0;
}

.App-header header small {
  font-family: 'Filosofia';
  position: absolute;
  top: 60px;
  left: 90px;
  font-size: 1.5rem;
  font-weight: 400;
}

.App-header h2 {
  position: absolute;
  bottom: 60px;
  left:90px;
  font-size: 1rem;
  font-weight: 100;
  max-width: 150px;
  text-align: left;
}

.App-intro {
  font-family:  "Filosofia";
  font-size: small;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-intro header {
  position: relative;
}

h1,h2,h3,h4,h5 {
    font-family:  "Filosofia";
        font-weight: 100;
}

.sideHeader {
  position: absolute;
  left:0;
  transform: rotate(90deg);
    transform-origin: left;
    left: 30px;
    top: 130px;
    z-index: 1;
    .back {
      position: relative;
      left: 15px;
      top: 0;
  }
}

.fixSub .sideHeader {
  position: fixed;
  font-size: 1em;
  .back {
      position: absolute;
      left: 360px;
      bottom: 60px;
      color: inherit;
      top: 0;
      width: 150px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

article {
  position: relative;
}

article p {
      text-indent: 1em;
}

article h1 {
  display: none;
}
#lower {
  position: relative;
  top: 100vh;
  background-color: white;
  z-index: 1;
}

.editors header{
  display: none !important;
}

.editors h2 {
  font-weight: 100;
  max-width: 200px;
  letter-spacing: -1px;
}
.articleIndex {
  padding: 60px;
  min-height: 100vh;
}

.articleIndex h3 {
  padding: 60px;
}

.articleIndex h1 {
  font-size: 5rem;
  font-weight: 100;
  transition: .5s;

}


.articleIndex img {
  opacity: 0;
  height: 0;
  position: absolute;
  transition: .25s ease;
  max-width: 200px;
  transform: translateY(-50%) translateX(100%);
}

.articleIndex a:nth-child(2n) img {
  transform: translateY(-50%) translateX(-200%);
}

.articleIndex h1:hover ~ img {
  position: absolute;
    height: auto;
  opacity: 1;
}

.articleIndex h1:hover {
    color: #D2262D;
    cursor: pointer;
}

.posts img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.posts header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.posts {
  flex-basis: 100%;
  padding: 1%;
  border: 1px solid black;
  margin: 1%;
}

article header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
}

article section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px;
}

.editors h2 {
  font-size: 3em;
  line-height: initial;
  text-align: left;
  text-indent: 0 !important;
}

.row {
  align-self: flex-end;
  text-align: left;
  font-size: 1.35em;
  line-height: 1.15em;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 190px;
  justify-content: space-between;
}

.row img {
  max-height: 500px;
  max-width: 100%;
  // padding: 30px;
  width: auto;

  transition: .5s;
}

.image-inline {
  position: relative;
  text-align: center;
  display: inline-block;
  line-height: 0;
  margin-top: 60px;
  margin-bottom: 60px;
  text-indent: 0;
}

.image-inline h3 {
    position: absolute !important;
    top: 50% !important;
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
}
#contents {
  position: absolute;
  top: 100vh;
}

.row .image-inline:hover img{
  opacity: 0;
  filter: hue-rotate(0deg) saturate(100%) brightness(56%);
}

.image-inline img {
  padding: 0;
}

.image-inline:hover  h3 {
  opacity: 1;
}
.row h3 {
  // position: relative;
  // top: -60px;
  font-weight: 100;
  font-size: .85em;
}

.back {
  position: absolute;
  left: 60px;
  bottom: 60px;
  font-size: 1.25em;
  color: inherit;
}
img {
  width: 100%;
}

.col-left, .col-right {
  width: 48%;
  flex-basis: 44%;
}

.col-left {
  float:left;
}

.col-right {
  float:right;
}

.App-intro header h2 {
  position: absolute;
    bottom: 60px;
    lefT: 60px;
    width: 30%;
    text-align: left;
    font-weight: 100;
}


blockquote {
  font-size: 3em;
  line-height: 1em;
  padding: 60px;
  text-align:center;
}
.article header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article .col-2 {
  flex-basis: 44%;
  width: 50%;
  order: 1;
}

.article section {

    padding: 60px;
}


.editors .row {
  padding-top: 0px;
}

.editors video {
  height: 0px;
}
.editors p {
      text-indent: 1.25em;
}

.videoBackground header {
  display: none;
}


.col-2 img {
  width: 100%;
  position: relative;
}

.col-2 p {
  position: relative;
}

.col-2 img {
  transition: .5s;
}
.col-2 img:hover {
  opacity: 0.5;
}
.col-2 img:hover ~ em {
  opacity: 1;
}

.col-2 img ~ em{
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s;
}
 .App nav {
   position: fixed;
    top: 0;
    z-index: 10;
    right: 0;
    padding: 30px;
    background-color: #151515;
    width: 100%;

 }

 .App nav a {
   padding: 0 15px;
 }

 /*.App-intro > div {
   position: fixed;
   top: 100vh;
 }*/

 .scrolledPast {
   position: sticky !important;
   z-index: 2;
 }

 .scroll {
  position: relative;
 }

 .mobile {
   display: none;
 }

.videoBackground article h1 {
  display: block;
  display: block;
  position: absolute;
  z-index: 33;
  color: white;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.videoBackground header{
  height: 100vh;
}
.videoBackground video{
  height: 100vh;
      object-fit: cover;
}

/** LAMB ARTICLE **/
#LambLeg header {
    height: auto;
    padding: 90px;
    text-align: left;
    flex-direction: row;
}
#LambLeg h2 {
  position: initial;

}

#LambLeg video{
display: none;

}
#LambLeg .desktop {
  width: 40%;
float: right;
padding-left: 80px;
}
#LambLeg h1 {
  display: block;
    color: black;
    font-size: 5rem;
    font-weight: 100;
    width: 50%;
    float:left;
}

 #LambLeg article section {
    padding-top: 0px;
}

#LambLeg header h3 {
  position: absolute;
  margin-top: -30px;
  left: 90px;
  font-weight: 100;
  text-transform: capitalize;
}


#LambLeg header h2 p  {
  padding-left: 1.05em;
  text-indent: -.9em;
}

#LambLeg header h2 {
  font-size: 1.5rem;
}

#LambLeg .row h2 {
  font-weight: 100;
  padding: 0 0 2rem;
  font-size: 2.5em;
    clear:both;
}
#LambLeg .row hr {
  background-color: black;
  border: 1px solid black;
    border-bottom: 0;
    height: .5px;
}
#LambLeg .row h3 {
  position: initial;
  padding: 1em 0em 0em;
  text-transform: uppercase;
  font-size: 1em;
}
#LambLeg .col-left, #LambLeg .col-right {
  flex-basis: 40%;
}
#LambLeg .row ul {
  list-style-type: none;
  width: 80%;
}

#LambLeg .row li:before {
  content: "\2014 ";
}

#LambLeg .row img {
  float:right;
  max-width: 150px;
  clear:both;
  padding:0;
}

#LambLeg  li {
    list-style-type: none;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}

#EditorsLetter img {
  width: 169px;
  float: left;
  padding-right: 15px;
}

#EditorsLetter h2 {
  font-size: 5em;
}

.editors p {
  font-size: 1.1em;
  line-height: inherit;
}

.editors .col-right{
  flex-basis: 50%;
  margin-bottom: 60px;
}

.editors .row h3 {
    position: initial;
    font-size: initial;
    top:0;

}
.editors section {
  padding: 90px;
}
.editors h3:nth-child(1) {
      margin-top: 30px;
}
.editors h3:last-child {
  margin-bottom: 30px;
}

#WhereTheresSmokeTheresFire header {
  background-position: top center;
  background-size: contain;
}

#WhereTheresSmokeTheresFire article p{
  text-indent: 0;
}
#WhereTheresSmokeTheresFire article section {
  padding: 90px 0;
}
#WhereTheresSmokeTheresFire .col-right p{
  padding: 0 90px 0 0;
  flex-basis: 50%;
  text-indent: 1em;
  font-size: 1.2em;
}
#WhereTheresSmokeTheresFire .col-left, #WhereTheresSmokeTheresFire .col-right {
  padding-top: 60px;
  width: 50%;
  flex-basis: 50%;
}

#WhereTheresSmokeTheresFire  blockquote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.25em;
}


#WhereTheresSmokeTheresFire  blockquote p {
  max-width: 50%;
  margin: 0 auto;
}
#WhereTheresSmokeTheresFire .col-left p {
  padding: 0 0px 0 90px;
  flex-basis: 50%;
}
#WhereTheresSmokeTheresFire .col-left p {
  font-size: 1.2em;
  text-indent: 1em;
}

/* FRONT OF HOUSE **/

#FrontofHouse header h1{
  display: block;
  font-size: 6rem;
  font-weight: 100;
  width: 12.5%;
  text-align: left;
  padding-left: 90px;
}

#FrontofHouse .row h2 {
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  text-indent: 0;
  line-height: initial;
  margin: 60px 0;
}

#FrontofHouse header .desktop {
  right: 60px;
  top:60px;
  text-align: left;
  width: 50%;
  left:initial;
}

#FrontofHouse header  {
  justify-content: flex-start;
  padding-top: 60px;
}
#FrontofHouse article section {
  padding: 0;
}

#FrontofHouse article section p {
  text-indent: 0;
}

#FrontofHouse .col-left , #FrontofHouse .col-right  {
  padding: 90px;
  flex-basis: 34%;


}

#FrontofHouse {
  .large-side-image {
    padding-right: 0;
  }
}
#FrontofHouse blockquote {
  font-size: 1.5em;
  padding: 0px 0 90px;
  width: 60%;
  margin:0px auto 90px;
}

#FrontofHouse header p {
  text-indent: 0;
}



#FrontofHouse header .desktop {
  font-size: 3em;
}



#FrontofHouse header img {
  margin: 60px 0;
  width: 207px;
}
#FrontofHouse  .col-left , #FrontofHouse .col-right   {
  margin-bottom: 90px;
}

#FrontofHouse  .col-left p:before, #FrontofHouse .col-right p:before  {
  content: "\2192 \00a0 \00a0";
  text-indent: 0 !important;
}

#FrontofHouse  .col-left p, #FrontofHouse .col-right p  {
  text-indent: 0 !important;
}
#WhereTheresSmokeTheresFire .col-left p:first-child {
    text-indent: 0em;
}

// Fast Facts
#FastFacts {
  section {
    padding: 0px;
    position: relative;
  }


  header {
    position: relative;

    .desktop {
      position: absolute;
    left: 120px;
    font-size: 4rem;
    line-height: initial;
    width: 100%;
    left: 0;
    bottom:-120px;
    .numbers {
      bottom:0;
    }
    }
  }
  h1 {
    display: block;
    color:black;
    width: 40%;
    position: absolute;
    left: 120px;
    font-size: 4rem;
    line-height: initial;
    text-align: left;
    top: 120px;
  }
  h2 {
    width: 40%;
    position: absolute;
    left: 120px;
    font-size: 4rem;
    line-height: initial;
    img {
      display: block;
      max-width: 50px;
      margin-bottom: 15px;
    }
  }

  .numbers {
    position: absolute;
    bottom:6rem;
    font-size: 4rem;
    display: flex;
    font-family: 'LibreBodoni';
    width: calc(100% - 90px);
    span {
      flex-basis: 20%;
      vertical-align: top;
      display: inline-block;
    text-align: center;
    }
  }
  .row section {
    height: 100vh;
    padding: 60px;
    width: calc(100vw - 120px);
  }
  .lightgray, .darkgray {
      background-color:lightgray;
  }
  .lightgreen {
    background-color:#d5e7ce;
  }

  .lightyellow {
    background-color:lightyellow;
  }
  .burntred {
    background-color:orange;
  }
}

/// On the Menu

#“Sumimasen—kudasithelamb”{
  .col-left{
    padding-right: 0px;
    padding-left: 90px;
    width: 34%;
  }
   .col-right {
     padding-left: 0px;
     padding-right: 90px;
    width: 34%;
  }
  .row {
    text-indent: 0;
    padding-bottom:0;
    padding-bottom: 90px;
  }
   article section {
     padding: 0;
   }

   .col-white {
     background-color: white;
     margin: 0;
     padding: 90px 0;
   }

   .col-whole > img {
     width: 100%;
   }

   .gif-left {
     .col-left {
       padding-right: 0px;
      padding-left: 0px;
      width: 40%;
     }

     .col-right {
       width: 60%;
     }
   }

   .mid-whole {
     max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    /* border: 1px solid black; */
    color: black;
    padding-left: 60px;
    font-size: .9em;
   }

   .lambboxsmall {
     border: 1px solid blue;
     padding: 30px;
      margin: 30px;
      h2 {
        margin: 60px 0;
        border-bottom: 1px solid blue;
        display: inline-block;
      }
      small {
        display: block;
      }
   }
}

// Two Under 10
#TwounderTen {
  * {
    text-indent:0;
  }

  .number {
    padding: 90px;
  }
  .ingredients {
    li {
      font-size: 3rem;
      line-height: initial;
      text-align: center;
      small {
        font-size: 1rem;
      }
    }
    li:last-child {
      margin-top: 60px;
    }

    .last {
      margin-top: 60px;
    }
  }

  .rightpad {
   .col-six-eight {
        width: 60%;
        padding-left: 0px !important;
    }

    .col-two-eight {
       padding-right: 60px;
    }
  }

  .addpadd {
    .arrow {
      margin-bottom: 30px;
      font-size: .9em;
    }
    .col-two-eight {
      padding-left: 90px;
      span {
        transform: rotate(90deg);
        display: inline-block;
        transform-origin: left;
        margin-left: .65em;
        padding-left: .75em;
      }

      .inside {
        margin-left: 2em;
        border-left: 1px solid black;
        padding-left: 20px;
      }
    }
    .col-six-eight {
      width: 60%;
      padding-left: 85.5px;
    }
  }



  .chef-info {
    .arrow ~ p {
      text-indent: 1em;
    }
    p {
      font-size: 1.1rem;
    }
    img {
      max-width: 300px;
    }
    .col-left {
      padding-right: 0;
      text-align: right;
      width: 40%;
    }
    .col-right {
      padding-left: 0;
      width: 40%;
    }
  }
  section {
    padding:0;
  }

  .col-left, .col-right {
    padding: 0 90px;
  }
  h2 {
    text-indent: 0;
    font-size: 2.5rem;
    line-height: initial;
  }
  .col-two-eight {
    vertical-align: top;
    .number {
      font-size: 9rem;
    }
  }

  .col-six-eight {
    h2 {
      margin-bottom: 60px;
    }
  }
  .col-fourth {
    width: 25%;
    display: inline-block;
    h2 {
      font-size: 1.1rem;
      margin-bottom: 0px;
    }
  }
}
// Paddock Story

#TheQuestforQualityEating {

  .desktop {
    font-size: 6rem;
    color: white;
    text-align: left;
    text-indent: 0;
    position: absolute;
      top: 60px;
      width: 40%;
      p {
          text-indent: 0;
      }
  }
  .row {
    text-indent: 0;
  }
  .box-shape {
    border: 1px solid black;
    padding: 30px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;

    h2 {

          padding: 30px 60px;
          text-align: center;
    }

    p {
          text-indent: 0;
    }

    ul {
      list-style: none;
      text-align: left;
    }



    .col-half-third {
      width: 40%;
      display: inline-block;

      div {
        height: 200px;
        padding: 30px 0;
        border-top: 1px solid black;
        text-align: center;
        h3 {
          width: 40%;
          display: inline-block;
              vertical-align: top;
                text-align: left;
        }
        img {
          height: auto;
          width: 58%;
          margin-bottom: 10px;
        }
      }
    }

    .col-one-third {
        width: 20%;
        display: inline-block;
        text-align: center;

        div {
              height: 150px;
              padding: 30px 0;
        }
    }
  }


}

/// On the Menu
#OntheMenu {

    //Header
      .desktop {
        left: initial;
        right: 60px;
        width: 40%;
        font-size: 1.5em;
      }



      // body
      section {
        padding: 0;
      }

      p {
        text-indent: 0;
        font-size: 1rem;
      }

      .col-whole {

      }

      .col-left {
        padding-left: 60px;
        padding-right: 0;
      }
       .col-right  {
         padding-left: 0px;
         padding-right: 60px;
      }
      .col-whole {
        margin-top: 160px;
      }

      .top-margin, .margin-top {
        margin-top: 90px;
        margin-bottom: 30px;
      }

      .arrow {
        margin-left: 1.5em;
      }


      .arrow ~ p {
          margin-left: 1.5em;
      }
      .col-left, .col-right {
          width: 30%;

        span {
        display:inline-block;;
        transform: rotate(90deg);
        transform-origin: left;
        padding-left: 10px;
        margin-left: .5em;
          hr {
            border-color: black;
            margin-bottom: 10px;
            border-bottom:0;
          }
        }

        .below {
          border-left: 1px solid black;
          margin-left: 2em;

        }

        .arrow {
          position: relative;
          margin-bottom: 30px;
        }

        h2 {
          font-weight: 100;
          font-size: 3rem;
          line-height: initial;
          padding-bottom: 15px;
        }

        h2 ~ hr {
          width: 30px;
          border-color:black;
          margin-bottom: 15px;
        }

        h3 {
          font-size: 1.5rem;
            line-height: initial;
        }
      }
}

/* GRID */

.photo-grid {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div {
    flex-basis: 49%;
    width: 48%;
    height: 260px;
    margin-bottom: 20px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
.col-whole-image {
  width: 100%;
  padding: 90px 0px;
  text-align: center;
}

.whole-half-image {
  text-align: center;
  padding: 90px 0px;
}
.whole-half-image img {
  width: 50%;
}

.col-one-eight, .col-eight {
  width: 12%;
  display: inline-block;
}



.col-two-eight {
  width: 25%;
  display: inline-block;
}

.col-six-eight {
  width: 72%;
  display: inline-block;
}

.col-seven-eight {
  width: 87.5%;
  display: inline-block;
}
.col-whole-half-image {
    width: 100%;
    text-align: center;
    margin: 90px 0;
}

.col-whole {
  margin: 90px 0;
  width: 100%;

  img {
    max-width: 100%;
    max-height: initial;
  }
}

.arrow:before {
    content: "\2192 \00a0 \00a0";
    text-indent: 0 !important;

}
/* Typography */

.smalltext {
  font-size: .9rem;
}

/* Image placement */
.sideimage img{
  float:right;
}

.middle-image {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.middle-image img {
  margin: 90px;
}

.App nav {
  background-color:black;

}


.App nav img{
width: 100px;
float: left;
padding-left: 60px;
}

/*# sourceMappingURL=Autumn.css.map */

 @media screen and (max-width: 786px) {
   .col-left, .col-right {
      width: 100%;
      flex-basis: 100%;
      padding: 30px;
  }

  .row img {
      width: 100%;
      margin-top: 0px;
      padding: 0;
  }

  .App-header header h1 {
      font-size: 3em;
  }

  .App-header img {
      max-width: 160px;

  }
  // .article section{
  //   padding: 0;
  // }

  blockquote {
    padding: 60px;
    font-size: 1.5em;
  }
  .article header {
    height: 30vh;

  }
  .articleIndex {
    min-height: auto;
  }
  .articleIndex h1 {
      font-size: 2rem;
      font-weight: 100;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
  }
  .App-header header h1,.App-header h2, .App-header header small {
      left: 30px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  h2.mobile  {
    padding: 30px;
    font-weight: 100;
    text-align: left;
  }

  .row {
    padding: 0;
    padding-bottom: 60px;
  }



  .editors h2 {
    font-size: 2em;
    width: 100px;
  }

  .row h3 {
        position: relative;
        top: -30px;
        /* padding: 30px; */
        font-weight: 100;
        font-size: .85em;
  }
 }
