* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;

}

$primary-padding: 30px;
@font-face {
  src: url("//assets.contentful.com/a7w606b3ho4t/43mBXrVckgYMukWc6CW0iy/300281cdd282277cea67f8be0fe1b678/Filosofia_Regular.otf");
  font-family: "Filosofia";
}
@font-face {
  src: url("//assets.contentful.com/a7w606b3ho4t/3uuI8PJNsASAMG2Ccwumuq/491cfdbbe5f00b51b2177ccc503cfe84/LibreBodoni-Regular.ttf");
  font-family: "LibreBodoni";
}
body {
  font-size: 16px;
}

img {
  opacity: 1;
  animation: fadeIn 1s linear;
}


.video-container {
  display:none;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
};

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

.row > .back {
  display: none;
}

article > .back {
  display: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 78px;
}

.App-header header {
  height: calc(100vh - 78px);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.App-header header h1 {
  position: absolute;
  top: 90px;
  left: 90px;
  font-size: 4.5rem;
  font-weight: 100;
  max-width: 100px;
  text-align: left;
  line-height: .9em;
}

.App-header img {
  width: 100%;
  max-width: 260px;
  margin: 30px auto;
  max-width: 260px;
  margin: 30px auto;
  max-height: 200px;
  width: auto;
}

.App-intro > article,
.articleIndex {
  top: 0;
  position: sticky;
}

.articleIndex {
  display: none;
}

.no-stick {
  position: relative;
}

.stick-bottom {
  top: initial;
  position: sticky;
  bottom: 0;
}

.App-header header small {
  font-family: 'Filosofia';
  position: absolute;
  top: 60px;
  left: 90px;
  font-size: 1.1rem;
  font-weight: 100;
}

.App-header h2 {
  position: absolute;
  bottom: 60px;
  left: 90px;
  font-size: 1.1rem;
  font-weight: 100;
  max-width: 150px;
  text-align: left;
}

.App-intro {
  font-family: "Filosofia";
  font-size: small;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-intro header {
  position: relative;
}

.video-hold {
      margin-top: 190px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Filosofia";
  font-weight: 100;
}
.App >div >iframe > html{
  zoom: 0.5;
  padding: 60px;
  background-color: #e20c1d;
  overflow: hidden;
}
.form html {
  zoom: 0.5;
  padding: 60px;
  background-color: #e20c1d;
  overflow: hidden;
}
.form-open {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 999;

  iframe {
    width: 800px;
    height: 600px;
    padding: 0px;
    border: 0;
    overflow: hidden;
    html {
      zoom: 0.5;
      padding: 60px;
      background-color: #e20c1d;
      overflow: hidden;
    }

  }
}
.sideHeader {
  position: absolute;
  left: 0;
  transform: rotate(90deg);
  transform-origin: left;
  left: 30px;
  top: 90px;
  z-index: 1;
  font-size: 1.1em;

  .back {
    position: relative;
    left: 105px;
    top: 0;
  }
}

.fixSub .sideHeader {
  position: fixed;


  .back {
    position: absolute;
    left: 160px;
    bottom: 60px;
    color: inherit;
    top: 0;
    width: 150px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

article {
  position: relative;
}

article p {
  text-indent: 1em;
}

article h1 {
  display: none;
}

#lower {
  position: relative;
  top: 100vh;
  background-color: white;
  z-index: 1;
  overflow-x: hidden;
}

.editors header {
  display: none !important;
}

.editors h2 {
  font-weight: 100;
  max-width: 200px;
  letter-spacing: -1px;
}

.articleIndex {
  padding: 60px;
  min-height: 100vh;
}

.articleIndex h3 {
  padding: 60px;
}

.articleIndex h1 {
  font-size: 5rem;
  font-weight: 100;
  transition: 0.5s;
}

.articleIndex img {
  opacity: 0;
  height: 0;
  position: absolute;
  transition: 0.25s ease;
  max-width: 200px;
  transform: translateY(-50%) translateX(100%);
}

.articleIndex a:nth-child(2n) img {
  transform: translateY(-50%) translateX(-200%);
}

.articleIndex h1:hover ~ img {
  position: absolute;
  height: auto;
  opacity: 1;
}

.articleIndex h1:hover {
  color: #D2262D;
  cursor: pointer;
}

.posts img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.posts header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.posts {
  flex-basis: 100%;
  padding: 1%;
  border: 1px solid black;
  margin: 1%;
}

article header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
}

article section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 90px;
}

.editors h2 {
  font-size: 3em;
  line-height: initial;
  text-align: left;
  text-indent: 0 !important;
}

.row {
  align-self: flex-end;
  text-align: left;
  font-size: 1.35em;
  line-height: 1.15em;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0px;
  justify-content: space-between;
}

.row img {
  max-height: 500px;
  max-width: 100%;
  // padding: 30px;
  width: auto;
  transition: 0.5s;
}

.image-inline {
  position: relative;
  text-align: center;
  display: inline-block;
  line-height: 0;
  text-indent: 0;
}

.image-inline h3 {
  position: absolute !important;
  top: 50% !important;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
}

#contents {
  position: absolute;
  top: 100vh;
}

.row .image-inline:hover img {
  opacity: 0;
  filter: hue-rotate(0deg) saturate(100%) brightness(56%);
}

.image-inline img {
  padding: 0;
}

.image-inline:hover h3 {
  opacity: 1;
}

.row h3 {
  // position: relative;
  // top: -60px;
  font-weight: 100;
  font-size: 0.85em;
}

.back {
  position: absolute;
  left: 60px;
  bottom: 60px;
  font-size: 1em;
  color: inherit;
}

img {
  width: 100%;
}

.col-left,
.col-right {
  width: 48%;
  flex-basis: 44%;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.App-intro header h2 {
  position: absolute;
  bottom: 60px;
  lefT: 90px;
  width: 30%;
  text-align: left;
  font-weight: 100;
}

blockquote {
  font-size: 3em;
  line-height: 1em;
  padding: 60px;
  text-align: center;
}

.article header {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article .col-2 {
  flex-basis: 44%;
  width: 50%;
  order: 1;
}

.article section {
  padding: 60px;
}

.editors .row {
  padding-top: 0;
}

.editors video {
  height: 0;
}

.editors p {
  text-indent: 1.25em;
}

.videoBackground header {
  display: none;
}

.col-2 img {
  width: 100%;
  position: relative;
}

.col-2 p {
  position: relative;
}

.col-2 img {
  transition: 0.5s;
}

.col-2 img:hover {
  opacity: 0.5;
}

.col-2 img:hover ~ em {
  opacity: 1;
}

.col-2 img ~ em {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s;
}
.newsButton {
  position: fixed;
  top:0;
  right:0;
  position: fixed;
top: 0;
right: 0;
height: 90px;
width: 90px;
color: transparent;
cursor: pointer;
}

.App nav {
  position: fixed;
  top: 0;
  z-index: 10;
  right: 0;
  padding: 0px;
  background-color: #151515;
  width: 100%;
  height: 0px;
  img {
    display: none;
  }
  iframe {
        height: 78px;
        border:0;
  }
}

.newButton {
  position: fixed;
top: 0;
right: 0;
width: 90px;
height: 90px;

}
.App nav a {
  padding: 0 15px;
  display: none;
}
/*.App-intro > div {
   position: fixed;
   top: 100vh;
 }*/
.scrolledPast {
  position: sticky !important;
  z-index: 2;
}

.scroll {
  position: relative;
}

.mobile {
  display: none;
}

.videoBackground article h1 {
  display: block;
  display: block;
  position: absolute;
  z-index: 33;
  color: white;
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  left: 0;
  right: 0;
}

.videoBackground header {
  height: 100vh;
}

.videoBackground video {
  height: 100vh;
  object-fit: cover;
}
/** LAMB ARTICLE **/

#LambLeg {
  .col-whole {
    margin: 180px 0;
    width: 60vw;
  }
}
#LambLeg header {
  height: auto;
  padding: 90px;
  text-align: left;
  flex-direction: row;
}

#LambLeg h2 {
  position: initial;
  line-height: initial;
}

#LambLeg video {
  display: none;
}

#LambLeg .desktop {
  width: 40%;
  float: right;
  padding-left: 80px;
}

#LambLeg h1 {
  display: block;
  color: black;
  font-size: 5rem;
  font-weight: 100;
  width: 50%;
  float: left;
}

#LambLeg article section {
  padding-top: 0;
}

#LambLeg header h3 {
  position: absolute;
  margin-top: -30px;
  left: 90px;
  font-weight: 100;
  text-transform: capitalize;
}

#LambLeg header h2 p {
  text-indent: 0;
}

#LambLeg header h2 {
  font-size: 1.5rem;
}

#LambLeg .row h2 {
  font-weight: 100;
  padding: 0 0 2rem;
  font-size: 2.5em;
  clear: both;
}

#LambLeg .row hr {
  background-color: black;
  border: 1px solid black;
  border-bottom: 0;
  height: 0.5px;
}

#LambLeg .row h3 {
  position: initial;
  padding: 1em 0 0;
  text-transform: uppercase;
  font-size: 1em;
}

#LambLeg .col-left,
#LambLeg .col-right {
  flex-basis: 40%;
}

#LambLeg .row ul {
  list-style-type: none;
  width: 80%;
}

#LambLeg .row li:before {
  content: "\2014 ";
}

#LambLeg .row img {
  float: right;
  max-width: 150px;
  clear: both;
  padding: 0;
}

#LambLeg li {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

#EditorsLetter img {
  width: 169px;
  float: left;
  padding-right: 15px;
}

#EditorsLetter h2 {
  font-size: 5em;
  line-height: .9em;
}

.editors p {
  font-size: 1.1em;
  line-height: inherit;
}

.editors .col-right {
  flex-basis: 50%;
  margin-bottom: 60px;
}

.editors .row h3 {
  position: initial;
  font-size: initial;
  top: 0;
}

.editors section {
  padding: 90px;
}

.editors h3:nth-child(1) {
  margin-top: 30px;
}

.editors h3:last-child {
  margin-bottom: 30px;
}

#WhereTheresSmokeTheresFire header {
  background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 90px;
}
#WhereTheresSmokeTheresFire .col-left ~ .whole-half-image {
  width: 100%;
  padding: $primary-padding*6 0;
}

#WhereTheresSmokeTheresFire {
    .col-six-eight {
      padding: 0 0 $primary-padding*6 0;
    }

    .col-left.smalltext {
      margin-bottom:  $primary-padding*6;
    }

    blockquote ~ .col-whole {
      margin-top: 0;
    }

    .sideimage img{
      width: auto;
    }
}
#WhereTheresSmokeTheresFire article p {
  text-indent: 0;
}

#WhereTheresSmokeTheresFire article section {
  padding: 90px 0;
}

#WhereTheresSmokeTheresFire .col-right p {
  padding: 0 90px 0 0;
  flex-basis: 50%;
  text-indent: 1em;
  font-size: 1.2em;
}

#WhereTheresSmokeTheresFire .col-left,
#WhereTheresSmokeTheresFire .col-right {
  padding-top: 0px;
  width: 50%;
  flex-basis: 50%;
}

#WhereTheresSmokeTheresFire blockquote {
  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 1.25em;
  padding: 0 60px;
}

#WhereTheresSmokeTheresFire blockquote p {
  max-width: 50%;
  margin: 0 auto $primary-padding*6;
}

#WhereTheresSmokeTheresFire .col-left p {
  padding: 0 0 0 90px;
  flex-basis: 50%;
}

#WhereTheresSmokeTheresFire .col-left p {
  font-size: 1.2em;
  text-indent: 1em;
}

#WhereTheresSmokeTheresFire {
  .col-whole-image {
    img {
      width: 100%;
      max-height: inherit;
    }
  }
}
/* FRONT OF HOUSE **/
#FrontofHouse header h1 {
  display: block;
  font-size: 6rem;
  font-weight: 100;
  width: 12.5%;
  text-align: left;
  padding-left: 90px;
  line-height: .9em;
}

#FrontofHouse {
  .sideHeader {
    top:90px;
  }

  .image-line {

    h3 {
      font-size: 1rem;
    }
  }

  .desktop {
    .image-inline {
      margin: $primary-padding 0;
    }
  }

  .large-side-image {
    width: 50%;
    flex-basis: 50%;
    margin:  $primary-padding*6  0 $primary-padding*6 !important;
    img {
      width: 100%;
      max-height: initial;
    }
  }



  .row {


    p {
      .image-inline {
        margin: 0;
      }
    }
    .image-inline {
      margin:  0;
    }

    .col-whole {
      .image-inline {
        margin: 0;
      }
    }
  }

  .col-whole-half {
    width:100%;
    text-align: center;
  }

  .opening {
    p:before{
      content: "" !important;
      text-indent: 1em !important;
    }
  }
}

#FrontofHouse .row h2 {
  font-size: 2em;
  font-weight: 100;
  text-align: left;
  text-indent: 0;
  line-height: initial;
  margin: 0 0 60px 0;
}

#FrontofHouse header .desktop {
  right: 60px;
  top: 60px;
  text-align: left;
  width: 50%;
  left: initial;
}

#FrontofHouse header {
  justify-content: flex-start;
  padding-top: 90px;
}

#FrontofHouse article section {
  padding: 0;
}

#FrontofHouse article section p {
  text-indent: 0;
}

#FrontofHouse .col-left,
#FrontofHouse .col-right {
  margin:  $primary-padding*6 $primary-padding*3 0;
  flex-basis: 34%;
}

#FrontofHouse {
  .large-side-image {
    padding-right: 0;
  }



  .col-whole ~ .col-left {
    margin-top: 0;
    h2 {
      margin-top: 0;
    }
  }
}

#FrontofHouse .row > blockquote {
  font-size: 1.5em;
  padding: 0;
  width: 60%;
  margin: $primary-padding*6 auto $primary-padding*6 ;
}

#FrontofHouse header p {
  text-indent: 0;
}

#FrontofHouse header .desktop {
  font-size: 3em;
}

#FrontofHouse header img {
  margin: 0px 0;
  width: 207px;
  transition: .25s;
  &:hover {
    opacity: 0;
  }
}



#FrontofHouse .col-left p:before,
#FrontofHouse .col-right p:before {
  content: "\2192 \00a0 \00a0";
  text-indent: 0 !important;
}

#FrontofHouse .col-left p,
#FrontofHouse .col-right p {
  text-indent: 0 !important;
}

#WhereTheresSmokeTheresFire .col-left p:first-child {
  text-indent: 0;
}
// Fast Facts
#FastFacts {
  .row {
    padding-bottom: 0;
  }
  section {
    padding: 0;
    position: relative;
  }

  h3 {
    display: none;
  }

  header {
    position: relative;

    .desktop {
      position: absolute;

      font-size: 4rem;
      line-height: initial;
      width: 100%;
      left: 60px;
      bottom:initial;

      .numbers {
        bottom: 0;
      }

      img {
        position: absolute;
        top: 90px;
        left: 60px;
      }
    }
  }

  h1 {
    display: block;
    color: black;
    width: 40%;
    position: absolute;
    left: 120px;
    font-size: 4rem;
    line-height: .9em;
    text-align: left;
    top: 180px;
  }

  h2 {
    width: 40%;
    position: absolute;
    left: 120px;
    font-size: 4rem;
    line-height: .9em;

    img {
      display: block;
      max-width: 50px;
      margin-bottom: 15px;
    }
  }

  .numbers {
    position: absolute;
    bottom: 6rem;
    font-size: 4rem;
    display: flex;
    font-family: 'LibreBodoni';
    width: calc(100% - 90px);

    span {
      flex-basis: 20%;
      vertical-align: top;
      display: inline-block;
      text-align: center;
    }
  }

  .row section {
    height: 100vh;
    padding: 60px;
    width: calc(100vw - 120px);
  }

  .darkgray,
  .lightgray {
    background-color: #BEC0C2;
  }

  .lightgreen {
    background-color: #d5e7ce;
  }

  .lightyellow {
    background-color: #F9F3DA;
  }

  .burntred {
    background-color: #F47D5F;
  }
}

//FINAL

#Final {
  header {
        height: calc(100vh - 500px);
  }
  .desktop {
    font-size: 1.1em;
    width: 100%;
    left:0;
    top:0;

    h2 {
      position: absolute;
      top:60px;
      text-indent: 1em;
    }

    p {
      width: 50%;
      align-self: flex-end;
      right: 60px;
      top:60px;
      font-size: 1.1em;
      position: absolute;
    }
  }

  section {
    padding: 60px;
  }

  .row {
    width: 100%;    width: 100%;
    border-bottom: 1px solid black;
    img {
      max-width: 300px;
      float:left;
    }
  }
}
/// On the Menu
#“Sumimasen—kudasithelamb” {
  .blackfont {
    color: black;
  }

  .row .col-whole:first-child {
    margin-bottom: 0;
  }

  .col-whole .blackfont {
    font-size: 1rem;
  }

   .col-whole .col-left.blackfont{
    padding: 0 $primary-padding*3;
    width: calc(50% - 180px) !important;
      font-size: 1rem;
  }


  .sideHeader span::after {

    background-image: url('//images.contentful.com/a7w606b3ho4t/5EvHt5rRxm0U4ciukOIaGe/52f9debafa2b91af68aa27df89dca299/Flag.png');
     background-size: 10px 20px;
     background-size: cover;
     background-position: top;
     display: inline-block;
     width: 50px;
     height: 60px;
     margin: 3px;
     border:1px solid blue;
     position: absolute;
     top:-90px;
     left:0px;
     content:"";
  }

  .desktop {
    img {
      position: absolute;
        left: -190%;
        top: -180%;
        width: 100px;
        display: none;
    }
  }

  .video-container {
    display: none;
  }

  header {
    h1 {
      display: block;
      font-size: 6rem;
      width: 60%;
      text-align: left;
      float: right;
      align-self: flex-end;
      padding-right: 90px;
      margin-top: -3em;
      line-height: .9em;
    }

    .desktop {
      position: absolute;
      bottom: 160px;
      lefT: initial;
      width: 25%;
      text-align: right;
      font-weight: 100;
      right: 200px;
      font-size: 2.5rem;
      align-items: flex-end;
    }
  }

  .col-left {
    padding-right: 0;
    padding-left: 90px;
    width: 50%;
  }

  .col-right {
    padding-left: 0;
    padding-right: 90px;
    width: 34%;
  }

  .row {
    text-indent: 0;
    padding-bottom: 0;
    padding-bottom: 90px;
  }

  article section {
    padding: 0;
  }

  .col-white {
    background-color: white;
    padding: $primary-padding*6 0 0;
    margin: 0;
  }

  .col-whole > img {
    width: 100%;
  }

  .gif-left,
  .gif-right {
    li:before {
      content: "\2014 ";
    }

    li {
      list-style-type: none;
      list-style-position: inside;
      text-indent: -1em;
      padding-left: 1em;
    }

    h2 {
      margin: 30px 0;
      border-top: 1px solid blue;
      padding-top: 30px;
      margin: 0 0 60px;
      border-top: 1px solid blue;
      padding-top: 60px;
      font-size: 2.5rem;
      line-height: initial;
    }

    ul {
      color: black;
      list-style: none;
    }

    img {
      width: 100%;
    }
  }

  .gif-right {
    .col-right {
      padding-right: 0;
    }
  }

  .gif-left {
    .col-left {
      padding-left: 0;
    }
  }

  .gif-left {
    .col-left {
      padding-right: 0;
      padding-left: 0;
      width: 30%;
    }

    .col-right {
      width: 60%;
      padding-right: 0;
      padding-left: 60px;
      width: 58%;
      padding-right: 90px;
      padding-left: 60px;
    }
  }

  .mid-whole {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    /* border: 1px solid black; */
    color: black;
    padding-left: 60px;
    font-size: 0.9em;
  }

  .col-white > h2 {
    text-align: center;
    font-size: 4rem;
    max-width: 400px;
    line-height: initial;
    margin: 0 auto;
  }

  .col-white > h2 ~hr {
    width: 30px;
    border-color: #fbe2e8;
    margin: 0 auto;
    border-width: 3px;
    border-style: solid;
  }

  .biglambbox {
    border: 1px solid blue;
    padding: 40px;
    margin: 30px auto;
    max-width: 700px;
    position: relative;

    ol {
      width: 50%;
      float: left;
      list-style-type: decimal-leading-zero;
    }

    img {
      position: absolute;
      right: 30px;
    }

    ol:nth-child(2){
      padding-left: 30px;
      width: 45%;
    }

    ol {
      font-size: 1em;
      color: blue;

      li {
        margin-bottom: 30px;
      }
    }

    &:after {
      content: " ";
      display: block;
      visibility: hidden;
      height: 0;
      clear: both;
      font-size: 0;
    }

    h2 {
      color: blue;
      margin: 60px 0;
      border-bottom: 1px solid blue;
      display: inline-block;
      padding-bottom: 10px;
      font-size: 2.5rem;
    }
  }

  .lambboxsmall {
    border: 1px solid blue;
    padding: 40px;
    margin: $primary-padding $primary-padding 0;

    h2 {
      margin: 60px 0;
      border-bottom: 1px solid blue;
      display: inline-block;
    }

    small {
      display: block;
    }
  }
}
//Chef Profile
#ChefProfile {

  .col-whole {
    margin:0;
    padding: 90px 0;
  }
  header {
    h1 {
      display: block;
      font-size: 7.5rem;
      transform: rotate(90deg);
      transform-origin: left;
      position: absolute;
      left: 20%;
      top: -60px;
      width: 20%;
      text-align: left;
      color: blue;
    }

    .desktop {
      height: 125vh;
      top: 0;
      width: 100%;
      left: 0;
      overflow: hidden;

      p:nth-child(2) {
        position: relative;
        top: 80%;
        color: blue;
        left: 140px;
        font-size: 2.5rem;
        text-indent: 0;
        width: 10%;
      }

      img {
        width: 60%;
        float: right;
      }
    }
  }

  article section {
    padding: 0;
  }

  article p {
    text-indent: 0;
  }

  .chefbox {
    position: relative;
    max-width: 500px;

    margin: 0 auto;
    border: 1px solid blue;
    padding: 40px;
    margin-bottom: 90px;
    color:blue;
    & > img {
      position: absolute;
    right: 30px;
    top:30px;
    }
    small {
      display: block;
    }
  h2 {

    color: blue;
    margin: 60px 0;
    border-bottom: 1px solid blue;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 2.5rem;
    clear:both;
  }
    h3 {
      display: inline-block;
      font-size: 1em;
      border-bottom: 1px solid blue;

      &:before {
        content: " ";
        font-size: 0;
        height:0;
        display: block;
        visibility: hidden;
        clear:both;
      }
    }
    p {
      margin-bottom: 30px;
      margin-top: 5px;
      img {
        width: 20px;
      }
    }
  }

  .bigtitle {
    padding: 180px 0 0;
    background-color: white;
    font-size: 9rem;
    line-height: initial;
    color: #fbe2e8;
    outline: blue;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 1px;
    line-height: .9em;
    img {
      padding-top: $primary-padding *2;
      width: 150px;
    }
  }

  .row {
    padding-bottom: 0;
    margin-top: $primary-padding*8;

    .col-whole:last-child {
      padding-bottom: $primary-padding*3;
    }
  }

  .col-half-image, .col-whole-half {
    text-align: center;
    width: 100%;

    padding: $primary-padding*6 0 $primary-padding*3;
  }

  .imageleft {

    padding-bottom: 0;
    .col-left {
      padding-bottom: 0;
    }
    .col-left,
    .col-right {
      width: 40%;
    }

    .col-right {
      h2 {
        color: blue;
        margin-bottom: 60px;
        font-size: 2.5rem;

        img {
          padding-right: 1em;
        }
      }
    }
  }

  .imageright ~ .col-whole {
    padding-bottom: 0;
  }
    .imageright {
      .col-left,
      .col-right {
        width: 40%;
        padding-bottom: 0;
      }

      .col-right {
        padding-right: 0;
      }

      .col-left {
        padding-left: 90px;
        h2 {
          color: blue;
          margin-bottom: 60px;
          font-size: 2.5rem;
          img {
            padding-right: 1em;
          }
        }
      }

    }

    .col-left,
    .col-right {
      padding: 90px 0;
      width: 48%;
      -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
      text-align:left;
    }

    .col-white {
      background-color: white;
      text-align: center;
    }

    .col-right {
      padding-right: 90px;

      p {
        text-indent: 1rem;
      }
    }
  }
  // Two Under 10
  #TwounderTen {
    * {
      text-indent: 0;
    }

    header {
      background-size: contain;
      background-repeat: no-repeat;
      padding: 90px;
    }

    .row > .col-left {
      margin-top: $primary-padding*6;
    }

    .number {
      padding: 90px;
    }

    .ingredients ~ .number-outer {
      margin-top: 0;
    }

    .ingredients {
      margin-top: 0;
      li {
        font-size: 3rem;
        line-height: initial;
        text-align: center;

        small {
          font-size: 1rem;
        }
      }

      li:last-child {
        margin-top: 60px;
      }

      .last {
        margin-top: 60px;
      }
    }

    .rightpad {
      .col-six-eight {
        width: 60%;
        padding-left: 0 !important;
      }

      .col-two-eight {
        padding-right: 60px;
      }
    }

    .addpadd {
      margin-top:0;

      .arrow {
        margin-bottom: 30px;
        font-size: 0.9em;
      }

      .col-two-eight {
        padding-left: 90px;

        span {
          transform: rotate(90deg);
          display: inline-block;
          transform-origin: left;
          margin-left: 0.65em;
          padding-left: 0.75em;
        }

        .inside {
          margin-left: 2em;
          border-left: 1px solid black;
          padding-left: 20px;
        }
      }

      .col-six-eight {
        width: 60%;
        padding-left: 85.5px;
      }
    }

    .chef-info {
      margin: 0;
      .arrow ~ p {
        text-indent: 1em;
      }

      p {
        font-size: 1.1rem;
      }

      img {
        max-width: 300px;
      }

      .col-left {
        padding-right: 0;
        text-align: right;
        width: 40%;
      }

      .col-right {
        padding-left: 0;
        width: 40%;
      }
    }

    section {
      padding: 0;
    }

    .col-left,
    .col-right {
      padding: 0 90px;
    }

    h2 {
      text-indent: 0;
      font-size: 2.5rem;
      line-height: initial;
    }

    .col-two-eight {
      vertical-align: top;

      .number {
        font-size: 9rem;
      }
    }

    .col-six-eight {
      h2 {
        margin-bottom: 60px;
      }
    }

    .col-fourth {
      width: 25%;
      display: inline-block;

      h2 {
        font-size: 1.1rem;
        margin-bottom: 0;
      }
    }
  }
  // Paddock Story
  .largelamb {
      img {
        width: 80%;
          max-height: initial;
    }

  }
  #TheQuestforQualityEating {

    .photogridouter {
      margin-top: 0;
    }
      .sideHeader {
        top:90px;

      }
    .whole-half-image {
      width: 100%;
      padding: $primary-padding *6 0 ;
      img {
        width: 50%;
      }
    }

    .row {
      padding-top: $primary-padding *2;
    }

    .desktop {
      font-size: 6rem;
      color: white;
      text-align: left;
      text-indent: 0;
      position: absolute;
      top: 90px;
      width: 40%;
      line-height: .9em;

      p {
        text-indent: 0;
      }
    }

    .row {
      text-indent: 0;
    }

    .box-shape {
      border: 1px solid black;
      padding: 30px;
      max-width: 80%;
      margin: 0 auto;
      display: flex;

      h2 {
        padding: 30px 60px;
        text-align: center;
      }

      p {
        text-indent: 0;
      }

      ul {
        list-style: none;
        text-align: left;
        width: 50%;
        float:left;
      }


      .col-half-third {
        width: 40%;
        display: inline-block;

        div {
          height: 200px;
          padding: 30px 0;
          border-top: 1px solid black;
          text-align: center;

          h3 {
            width: 40%;
            display: inline-block;
            vertical-align: top;
            text-align: left;
          }

          img {
            height: auto;
            width: 58%;
            margin-bottom: 30px;
          }
        }
      }


      .col-one-third h2:first-child,   .col-half-third h2:first-child {
        height: 60px;
      }

      .col-one-third {
        width: 20%;
        display: inline-block;
        text-align: center;
        div:first-child {
          height: 125px;
        }
        div {
          height: 250px;
          display: flex;
          justify-content: center;
          flex-direction: column;

        }
      }
    }
  }

  //Chef Editor
  .chef-editor {
    display: block;
    background-color:rgb(251, 249, 242);
    min-height: 105vh;
    height: initial !important;
    h2:first-child {
      position: absolute;
      top:60px;
      width: 20% !important;
      text-indent: 0;
      img {
        display: none !important;
      }
    }

    .video-hold {
          margin-top: 190px;
    }
    h2:nth-child(2) {
      position: absolute;
      top:260px;
      left:0;
      text-indent: 0;
      width: 20%;
      width: 20% !important;
    }
    .side{
      width: 50%;
      display:inline-block;
      margin-left: 50%;
    }
  }
  /// On the Menu
  #OntheMenu {

    header {
      background-size: contain;
      padding-top: 90px;
      background-position-y: 50px;
      background-repeat: no-repeat;

    }

    .row {
      margin-bottom: 60px;
    }
    //Header
    .desktop {
      left: initial;
      right: 60px;
      width: 40%;
      font-size: 1.5em;
    }

    .video-container {
      display: none;
    }
    // body
    section {
      padding: 0;
    }

    p {
      text-indent: 0;
      font-size: 1em;
    }

    .col-whole {}

    .col-left {
      padding-left: 60px;
      padding-right: 0;
    }

    .col-right {
      padding-left: 0;
      padding-right: 60px;
    }

    .col-whole {
      margin-top: $primary-padding*6;
    }

    .margin-top,
    .top-margin {
      margin-top: 90px;
      margin-bottom: 30px;
    }

    .arrow {
      margin-left: 1.5em;
    }

    .arrow ~ p {
      margin-left: 1.5em;
    }

    .col-left,
    .col-right {
      width: 30%;

      span {
        display: inline-block;
        transform: rotate(90deg);
        transform-origin: left;
        padding-left: 10px;
        margin-left: 0.5em;

        hr {
          border-color: black;
          margin-bottom: 10px;
          border-bottom: 0;
        }
      }

      .below {
        border-left: 1px solid black;
        margin-left: 2em;
      }

      .arrow {
        position: relative;
        margin-bottom: 30px;
      }

      h2 {
        font-weight: 100;
        font-size: 3rem;
        line-height: initial;
        padding-bottom: 15px;
      }

      h2 ~ hr {
        width: 30px;
        border-color: black;
        margin-bottom: 15px;
      }

      h3 {
        font-size: 1.5rem;
        line-height: initial;
      }
    }
  }
  /* GRID */
  .photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    div {
      flex-basis: 49%;
      width: 48%;
      height: 330px;
      margin-bottom: 20px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }
  }

  .col-whole-image {
    width: 100%;
    padding: $primary-padding * 6  0;
    text-align: center;
  }

  .whole-half-image {
    text-align: center;
    padding: 90px 0;
  }

  .whole-half-image img {
    width: 50%;
  }

  .col-eight,
  .col-one-eight {
    width: 12%;
    display: inline-block;
  }

  .col-two-eight {
    width: 25%;
    display: inline-block;
  }

  .col-six-eight {
    width: 72%;
    display: inline-block;
  }

  .col-seven-eight {
    width: 87.5%;
    display: inline-block;
  }

  .col-whole-half-image {
    width: 100%;
    text-align: center;
    margin: 90px 0;
  }

  .col-whole {
    margin: $primary-padding * 6 0;
    width: 100%;

    img {
      max-width: 100%;
      max-height: initial;
    }
  }

  .arrow:before {
    content: "\2192 \00a0 \00a0";
    text-indent: 0 !important;
  }
  /* Typography */
  .smalltext {
    font-size: 0.9rem;
  }
  /* Image placement */
  .sideimage img {
    float: right;
    width: 80%;
  }

  .middle-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .middle-image img {
    margin: 90px;
  }

  .App nav {
    background-color: black;
  }

  .App nav img {
    width: 100px;
    float: left;
    padding-left: 60px;
  }

  .video-hold {    height: 600px;
    width: 80%;
    background-color: lightgray;
    margin: 0 auto;}
  /*# sourceMappingURL=Autumn.css.map */
    @media screen and (min-width: 1800px) {
      .App-intro {
        font-size: 30px;
      }
          #WhereTheresSmokeTheresFire blockquote {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: 1.25em;
            padding: 0 60px;
            width: 100%;
        }

        #WhereTheresSmokeTheresFire {
          .sideimage {
            img {
                  width: calc(100% - 90px);
            }
          }
        }
    }


    @media screen and (min-width: 1400px) and (max-width: 1800px) {
      $primary-padding: 60px !global;

      .col-whole {
        margin: $primary-padding*6 0;
        width: 100%;
      }

      #Final header {
        height: 55vh;
      }
      .App-intro {
        font-size: 16px;
      }

      .App-header header h1 {
        position: absolute;
        top: 130px;
        left: 90px;
        font-size: 5em;
        font-weight: 100;
        max-width: 100px;
        text-align: left;
      }
      .App-header h2 {
          position: absolute;
          bottom: 90px;
          left: 90px;
          font-size: 1.5em;
          font-weight: 100;
          max-width: 350px;
          text-align: left;
      }
      .App-header header small {
          top: 90px;
          left: 90px;
          font-size: 1.5em;
          font-weight: 400;
        }
      .row {
        line-height: initial;
        img {
              max-height: 100vh;
        }
      }

      .col-whole {
        img {
          max-height: 100%;
          width: 100%;
        }
      }

      .editors .row h3 {
          position: initial;
          font-size: inherit;
          top: 0;
      }

      #EditorsLetter {
        img {
          width: 200px;
          padding-right: 30px;
        }
      }


      #“Sumimasen—kudasithelamb” {
        .col-white > h2 {
            text-align: center;
            font-size: 7rem;
            max-width: 800px;
        }
       .col-white > h2 ~ hr {
            width: 90px;
            border-color: #fbe2e8;
            margin: 30px auto;
            border-width: 6px;
            border-style: solid;
        }
       .col-whole .blackfont {
          font-size: 1em;
      }
        .lambboxsmall {
            border: 1px solid blue;
            padding: 40px;
            margin: 30px;
            margin-bottom: 90px;
            img {
              width: 60px;
              margin-bottom: 30px;
            }
        }

        .mid-whole {
          max-width: 900px;
        }
    }
    #ChefProfile .chefbox {
        position: relative;
        max-width: 700px;
        margin: 0 auto;
        border: 1px solid blue;
        padding: 40px;
        color: blue;
    }
      .articleIndex h3 {
      padding: 60px;
      font-size: 2.5em;
  }

  #ChefProfile header h1 {
    display: block;
    font-size: 8.5em;
    line-height: .9em;

  }

  #“Sumimasen—kudasithelamb” header h1 {
        display: block;
        font-size: 6.5em;
        line-height: .9em;
    }

    #ChefProfile header .desktop p:nth-child(2) {
        position: relative;
        top: 80%;
        color: blue;
        left: 260px;
        font-size: 4.5rem;
        text-indent: 0;
        width: 10%;
    }


    #“Sumimasen—kudasithelamb” .gif-left h2, #“Sumimasen—kudasithelamb” .gif-right h2 {
      font-size: 3em;
    }

    .bigtitle {
      font-size: 7em !important;
    }
  #FastFacts {
    .video-hold {
      margin-top: 290px;
    }
  }
      #FastFacts h2:nth-child(2) {
            top: 390px;
      }

      #ChefProfile .chefbox > img {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 90px;
    }
    .photo-grid div {
      -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
      width: 48%;
      height: 460px;
      margin-bottom: 40px;
      overflow: hidden;
      img {
            max-height: initial;
      }
  }
      #FastFacts h2 img {
        display: block;
        width: 100px;
        margin-bottom: 15px;
    }

    .sideHeader .back {
        position: relative;
        left: 160px;
        top: 0;
    }
    #FrontofHouse header h1 {
    display: block;
      font-size: 6rem;
      font-weight: 100;
      width: 12.5%;
      text-align: left;
      padding-left: 90px;
          line-height: .9em;
  }
    #ChefProfile .imageright .col-left h2 img,  #ChefProfile .imageleft .col-right h2 img {
      width: 60px;
      max-height: inherit;
        padding-right: 1em;
    }

    #ChefProfile {
     article section {
        padding: 0;
        margin-top: 160px;

      }
      .imageleft .col-right h2,  .imageright .col-left h2  {

          font-size: 3rem;
      }

    }
    #“Sumimasen—kudasithelamb” .biglambbox h2 {
        color: blue;
        margin: 60px 0;
        border-bottom: 1px solid blue;
        display: inline-block;
        padding-bottom: 10px;
        font-size: 2.5rem;
        /* float: left; */
        margin-right: 50%;
        width: 40%;
    }

    #“Sumimasen—kudasithelamb” {
      .biglambbox {
        padding: 60px 120px;
        img {
           position: absolute;
           right: 120px;
           width: 60px;
        }
      }

    }
    #FastFacts h2, #FastFacts h1 {
        font-size: 3em;
        line-height: .9em;
    }

    #FastFacts {
      .numbers {
        font-size: 6rem;
      }
    }
      #WhereTheresSmokeTheresFire {
        .col-right p, .col-left p {
              font-size: 1.5rem;

          }
      }

      #TheQuestforQualityEating .box-shape .col-half-third h2:first-child {
          height: 160px;
      }
      #TheQuestforQualityEating .box-shape .col-half-third div {
          height: 390px;
          padding: 30px 0;
          border-top: 1px solid black;
          text-align: center;
      }

      .largelamb img {
          width: auto !important;
          max-height: initial;
      }

      #TwounderTen  {
        .chef-info img {
            max-width: 500px;
        }
        .ingredients li {
            font-size: 3rem;
            line-height: initial;
            text-align: center;

            small {
              font-size: .5em;
            }
        }
          h2 {
            text-indent: 0;
            font-size: 3.5rem;
            line-height: initial;
          }
          .chef-info p {
              font-size: 1em;
          }

          .col-fourth {
            h2 {
              font-size: 1em;
            }
          }

      }

      #LambLeg .desktop {
          width: 40%;
          float: right;
          padding-left: 80px;
          font-size: 2em;
      }

      #LambLeg {
        h1 {
              font-size: 10rem;
        }
      }

      .sideHeader {
          left: 40px;
          top: 130px;
          z-index: 1;
          font-size: 1.5em;
      }
      .fixSub .sideHeader {
        position: fixed;
      font-size: 1.1em;
    }
        .fixSub .sideHeader .back {

        width: 550px;
    }
    #TheQuestforQualityEating .box-shape .col-one-third div {
    height: 450px;

  }
      .whole-half-image {
        text-align: center;
        padding: 90px 0;
        width: 100%;
    }
  #TheQuestforQualityEating .box-shape .col-one-third div:first-child {
          height: 225px;
           img{
             width: 90px;width: 90px;
          max-height: inherit;
           }
      }

      #LambLeg .row img {
          float: right;
          max-width: 150px;
          clear: both;
          padding: 0;
      }
      #OntheMenu {
        p {
          font-size: 1.1em;
        }
        .col-left h3, .col-right h3 {
            font-size: 2.5rem;
            line-height: initial;
        }
        .col-left h2,  .col-right h2 {
            font-weight: 100;
            font-size: 4rem;
            line-height: initial;
            padding-bottom: 15px;
        }
      }

    }
  @media screen and (max-width: 786px) {


    body {
      font-size: 12px;
    }
    header {


      .desktop {
        display:block !important;
      }
    }

    h2.mobile {
      display: none !important;
    }
    .video-container {
      display: none;
    }

    ///EDITORS {
    .editors .col-right {
          -ms-flex-preferred-size: 50%;
          flex-basis: 100%;
          margin-bottom: 60px;
      }

    .editors {
      section {
        padding: 0 90px;
      }
    }
      #EditorsLetter  {
        h2 {
        font-size: 3em;
        }
    }

    // SMOKE

    #WhereTheresSmokeTheresFire {
      .video-container {
        display: none;
      }
      header {
        background-image: url(//images.contentful.com/a7w606b3ho4t/5TVMjmOrIcwQs4UysWIEQc/bdc9e8b…/Screen_Shot_2017-12-19_at_11.34.42_AM.png);
        color: black;
        height: 40vh;
        background-size: contain;
        /* margin: 30px 0; */
        background-repeat: no-repeat;
      }

        .col-left, .col-right {
          padding-top: 60px;
          width: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      }

      blockquote {
        height: 50vh;
        p {
          max-width: 100%;
        }
      }

    }

    // PADDOCK
    #TheQuestforQualityEating {
        header {
          .desktop {
            display: block !important;
          }
        }

        .mobile {
          display: none;
        }
        .box-shape {
          zoom: 0.6;
        }
    }

    //TwounderTen

    #TwounderTen {
      header {
        background-size: contain;
        background-repeat: no-repeat;
      }
      .addpadd {
        .col-two-eight {
          width: 100%;
          .inside {
            width: 100%;
          }
        }

        .col-six-eight {
          width: 100%;
          padding-top:60px;
        }

      }
    }
    .chef-info {
      .col-left {
        padding:30px !important;
      }

      .col-right {
         padding: 0 30px !important;
      }


    }

    /// ON THE MENU
    #OntheMenu {
      header {
        background-size: contain;
        background-repeat: no-repeat;

      }

        .row h3 {
          top:0;
        }
      .col-left {
            flex-basis: 80%;
      }

      .col-right {
          padding-left: 90px !important;
          padding-right: 0px !important;
          flex-basis: 80%;
      }
      .col-whole {
        margin-top: 30px;
      }
    }

    // sUMI THE LambLeg
    #“Sumimasen—kudasithelamb” {
      .col-right {
          padding: 0;
          width: 100%;

      }

      .lambboxsmall {
        margin: 30px auto 60px;
        width: 60%;
      }
      .biglambbox {
          width: 60%;
      }

      .col-right {
        width: 90%;
        margin:0 auto;

      }

      .gif-left {
        .col-right {
          width: 40%;
        }
      }
      .gif-right {
        .col-left {
          width: 40%;
        }
        .col-right {
          width: 20%;
        }
      }
    }

    #FrontofHouse {
      header {
        height:60vh;
      }
      header .desktop {
          font-size: 1.5rem;
          right: 0px;
      }
      .col-left,  .col-right {
          padding: 0 60px 15px;
          -ms-flex-preferred-size: 34%;
          flex-basis: 30%;
      }
    }

    // Chef Profile

    #ChefProfile {
      .col-right {
        width: 90%;
        margin: 0 auto;
        font-size: .8em;
      }

      .bigtitle {
        font-size: 6rem;
        img {
          width: 90px;
        }
      }

      .col-whole {
        padding-top: 30px;
      }
    .imageleft .col-right h2, .imageright .col-left h2 {
          color: blue;
          margin-bottom: 60px;
          font-size: 2rem;
      }
    }


      // GRID MOBILE

      .whole-half-image {
        padding: 30px 0;
      }
    .col-left,
    .col-right {
      width: 100%;
      flex-basis: 100%;
      padding: 30px;
    }

    .row img {
      width: auto;
      margin-top: 0;
      padding: 0;
    }

    .App-header header h1 {
      font-size: 3em;
    }

    .App-header img {
      max-width: 90px;
    }
    // .article section{
    //   padding: 0;
    // }
    blockquote {
      padding: 60px;
      font-size: 1.5em;
    }

    .article header {
      height: 30vh;
    }

    .articleIndex {
      min-height: auto;
    }

    .articleIndex h1 {
      font-size: 2rem;
      font-weight: 100;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }

    .App-header h2,
    .App-header header h1,
    .App-header header small {
      left: 30px;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    h2.mobile {
      padding: 30px;
      font-weight: 100;
      text-align: left;
    }

    .row {
      padding: 0 0 60px;
    }

    .editors h2 {
      font-size: 2em;
      width: 100px;
    }

    .row h3 {
      position: relative;
      top: -30px;
      /* padding: 30px; */
      font-weight: 100;
      font-size: 0.85em;
    }


  }

  @media screen and (max-width: 420px) {
    .video-hold {
        height: 200px;

    }

    .image-inline {
      img {
        width: 100% !important;
      }
    }

    #EditorsLetter img {
      width: 100%;
      float: left;
      margin: 15px 0;
      padding-right: 15px;
  }
    .articleIndex {
        padding: 60px 30px;
          h1 {
            font-size: 2em;
          }
      }

    .row img {
      width: 80%;
    }
    .photo-grid div {
        -ms-flex-preferred-size: 49%;
        flex-basis: 100%;
        width: 100%;
        height: 160px;
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
    }

    .newsButton {
        position: fixed;
        top: 0;
        right: 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 78px;
        width: 90px;
        color: transparent;
        cursor: pointer;
        background-coloR: #b80e0e;
    }

  article > .back {
    display: none;
  }
    .form-open iframe {
          width: 80%;
          height: 600px;
          padding: 0px;
          border: 0;
          overflow: hidden;

      }
        #LambLeg  {
            header {
              height: auto;
              padding: 40px;
              h1 {
                font-size: 3rem;
              }

              .desktop {
                padding-left: 0px;
                font-size: .9rem;
                width: 50%;
              }
          }

            .col-left, .col-right {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        }
        .row h2 {
            font-weight: 100;
            padding: 0 0 1rem;
            font-size: 2rem;
            clear: both;
            text-indent: 0;
        }
        .row ul {
          list-style-type: none;
          width: 80%;
          font-size: 1rem;
          line-height: initial;
        }
        .row {
              margin-top: 60px;
        }
        .row h3 {
            position: initial;
            padding: 1em 0 0;
            text-transform: uppercase;
            font-size: .9rem;
        }
        .row img {
            float: right;
            max-width: 90px;
            clear: both;
            padding: 0;
        }
      }
    .col-whole {
        margin: 30px 0;
        width: 100%;
    }
    .sideHeader {
        left: 15px;
        top: 130px;
        font-size: 1.1em;
    }
        .sideHeader .back {
        position: relative;
        left: 250px;
        top: 0;
        font-size: 1rem;
    }
        #“Sumimasen—kudasithelamb” .biglambbox img {
        width: 30px;
        top:30px;
    }
    #“Sumimasen—kudasithelamb” .biglambbox h2 {
        color: blue;
        margin: 60px 0;
        border-bottom: 1px solid blue;
        display: inline-block;
        padding-bottom: 10px;
        font-size: 2.5rem;
        line-height: initial;
    }
    #“Sumimasen—kudasithelamb” .biglambbox ol {
        width: 100%;
        float: left;
        list-style-type: decimal-leading-zero;
    }
    #“Sumimasen—kudasithelamb” .col-white {
          background-color: white;
          margin: 0;
          padding: 90px 0 15px;
      }

      #ChefProfile .chefbox > img {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 30px;
    }
    #ChefProfile .imageleft .col-right h2 img,#ChefProfile .imageright .col-left h2 img {
        padding-right: 1em;
          width: 30px;
    }
    .fixSub .sideHeader {
      font-size: 1.1em;
    }
    article section {
      padding: 0 30px;
    }
    #EditorsLetter {
      article section {
        padding: 30px !important;
      }

      .col-right, .col-left {
        padding: 0 15px;
      }
    }

    // FRONT OF FrontofHouse

    #FrontofHouse {
      header {
        h1 {
          font-size: 2rem;
          padding-left: 45px;
        }

        .desktop {
            right: 30px;
            top: 30px;
            text-align: left;
            width: 50%;
            left: initial;
            font-size: 1rem;
        }
        img {
          width: 130px;
        }

      }
      blockquote {
          font-size: 1em !important;
          padding: 0 0 90px;
          width: 60%;
          margin: 90px auto 90px;
      }

      .col-left, .col-right {
        width: 100%;
        flex-basis: 90%;
        padding: 0 30px;

      }
    }

    #TheQuestforQualityEating .box-shape .col-one-third h2:first-child, #TheQuestforQualityEating .box-shape .col-half-third h2:first-child {
          height: 60px;
          font-size: 1em;
          line-height: initial;
          padding: 15px;
      }

      #TheQuestforQualityEating .box-shape ul {
        list-style: none;
        text-align: left;
        width: 50%;
        float: left;
        line-height: initial;
        width: 100%;
    }
    #TheQuestforQualityEating .box-shape .col-half-third div h3 {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        position: initial;
        line-height: initial;
        padding-bottom: 15px;
    }

    #TheQuestforQualityEating .box-shape .col-half-third div img {
        height: auto;
        width: 100%;
        margin-bottom: 5px;
    }


      #Final {
        .desktop h2 {
            position: initial;
            top: 60px;
            width: 80%;
            text-indent: 1em;
          padding: 30px 30px 0px;

        }
        .desktop p {
            position: initial;
            top: 60px;
            width: 80%;
            text-indent: 1em;
            padding: 30px 30px 0px;

        }
        header {
          height: 60vh;
        }
      }
      #Final section {
        padding: 30px;
    }

    // CHEF PROFILE

    #ChefProfile {

      header {
        height: 50vh;
        h1 {
          font-size: 3rem;
        }
        .desktop {
          height: 50vh;
          p:nth-child(2) {
            position: relative;
            top: 60%;
            left: 30px;
            font-size: 1.5rem;
            text-indent: 0;
            width: 10%;
          }
        }

      }

      .col-left, .col-right {
        padding: 15px 30px;
        flex-basis: 80%;
      }

      .imageleft {
        .col-right {
          width: 80%;
        }
      }

      .imageright {
        .col-left {
          width: 80%;
          padding-left:60px;
        }
      }
    }

    // LAMB
    #“Sumimasen—kudasithelamb” {
     .gif-left .col-right {
          width: 80%;
          padding: 0 30px;
      }
      .gif-right .col-left {
        width: 80%;
        padding: 0 30px;
      }
      header {
        height: 50vh;
        h1 {
          font-size: 2rem;
        }
        .desktop {

           display: block;
           font-size: 1rem;
           width: 60%;
           bottom:0;
           right:0;
           text-align: left;
           float: right;
           -ms-flex-item-align: end;
           align-self: flex-end;
           padding-right: 90px;
           margin-top: -3em;

        }
      }
      .col-left {
          padding-right: 0;
          padding-left: 30px;
          width: 80%;
      }
       .col-white > h2 {
          text-align: center;
          font-size: 3rem;

      }
      .col-white {
        padding-top:0;
      }
       .col-right {
          width: 90%;
          margin: 0 auto;
          font-size: .8em;
          padding-right:0;
      }
    }

    //TWO UNDER TEN
    #TwounderTen {
      header{
            height: 50vh;
            background-size: contain;
            background-repeat: no-repeat;
        h1 {

        }
        h2 {
            text-indent: 0;
            font-size: .9rem;
            line-height: initial;
        }
      }

      .col-two-eight .number {
          font-size: 3rem;
          padding: 30px;
      }
      .col-six-eight h2 {
        font-size: 1.5rem;
    }
    .chef-info .col-right {
        padding-left: 0;
        width: 80%;
    }

    .ingredients li {
        font-size: 1.5rem;
        line-height: initial;
        text-align: center;
    }

        .addpadd .col-two-eight {
              width: 80%;
              font-size: 1rem;

              padding-left: 30px;
              .inside {
                width: 90%;
              }
          }
          .addpadd .col-six-eight {
                width: 80%;
                font-size: 1rem;

                padding-left: 30px;
                .inside {
                  width: 90%;
                }
            }

      .col-left, .col-right {
           padding: 0 30px;
        }
    }
    //SMOKE
    #WhereTheresSmokeTheresFire {
      .col-left {
        padding-top: 15px;
        width: 100%;
      }
      .col-left p {
          font-size: initial;
          text-indent: 1em;
          flex-basis: 90%;
          padding-left:30px;
      }
      .col-whole {
        margin: 30px 0;
        width: 100%;
    }
    blockquote {

        font-size: 1em;
        padding: 0 60px;
    }

         .col-right p {
          padding: 0 0px 0 0;
          -ms-flex-preferred-size: 50%;
          flex-basis: 90%;
          text-indent: 1em;

      }
    }

    // Paddock
    #TheQuestforQualityEating {

      header {
        height: 50vh;

        .desktop {
          font-size: 2rem;
        }
      }
    }

      .lambboxsmall {
        img {
          width: 30px;
        }
      }
    //Fast
    #FastFacts {
      .row section {
          height: 70vh;
          padding: 30px;
          width: calc(100vw - 60px);
      }
      h2,h1 {
           width: 60%;
           position: absolute;
           left: 40px;
           font-size: 2rem;
           line-height: initial;
        }
        .numbers {
            left: 3px;
            position: absolute;
            bottom: 6rem;
            font-size: 2.5rem;
            display: -ms-flexbox;
            display: flex;
            font-family: 'LibreBodoni';
            width: calc(100% - 30px);
            text-align: left;
        }
    }

    .chef-editor .side {
        width: 100%;
        display: inline-block;
        margin-left: 0%;
        margin-top: 60px;
        font-size: 1em;
    }

    .chef-editor {
      h2 {
        position: relative !important;
        top:initial !important;
        width: 100% !important;
      }
    }
    .chef-editor h2:first-child {
        position: absolute;
        top: 60px;
          width: 100% !important;
        text-indent: 0;
    }
  }
